# Archivos y directorios generados por Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Archivos y directorios generados por el sistema operativo
.DS_Store
Thumbs.db

# Archivos y directorios generados por el editor de texto/IDE
.vscode/
.idea/
*.swp
*.swo
*.swn

# Archivos de entorno y configuración
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos y directorios generados por Docker
.docker/
.dockerignore
*.log

# Archivos y directorios generados por el Bundler
dist/
build/
